@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display';
  text-transform: uppercase;
  font-style: italic;
}

p {
  font-family: 'IBM Plex Sans';
}